.JoinPage {
  position: absolute;
  width: 100%;
  height: 100%;

  /*background-color: rgb(238, 238, 177);*/
}

.titleWrap {
  /*회원가입(text)*/
  margin-top: 30px;
  margin-left: 30px;

  font-size: 25px;
  font-weight: 700;
  color: #262626;
}

.contentWrap {
  /*전체 input 요소 감싸는 틀*/
  margin-top: 170px;
}

.block {
  /*수평 가운데 정렬*/
  display: flex;
  justify-content: center;

  /*border: 1px solid #e0009d;*/
}

.elementWrap {
  /*필수 입력 값들의 Title Text + 안내 메세지 틀*/
  display: flex;

  margin-top: 30px;
  width: 80%;

  /*border: 1px solid #019286;*/
}

.inputTitle {
  /*입력값들의 Title(text)*/
  font-size: 17px;
  font-weight: 600;
  color: #262626;
}

.errorMessageWrap {
  /*안내 메시지*/
  margin-top: 4px;

  font-size: 12px;
  color: #ef0000;
}

.inputWrap:focus-within {
  /*input box가 touch 되었을 때*/
  border: 1px solid #f1af23;
}

.inputWrap {
  /*input box 틀*/
  display: block;
  text-align: center;

  margin-top: 8px;

  border-radius: 8px;
  padding: 5px;

  /*border: 1px solid #f1af23;*/
}

.input {
  width: 80%;

  outline: none;
  border: 1px solid #f1af23;

  font-size: 17px;
  font-weight: 400;
}

.input::placeholder {
  color: #dadada;
}

.bottomButton {
  /*가입 완료 버튼*/
  margin-top: 35px;
  margin-bottom: 30px;

  width: 80%;
  height: 45px;

  border: none;
  border-radius: 64px;

  font-weight: bold;
  font-size: 16px;

  background-color: #f1af23;
  color: white;

  cursor: pointer;
}

.bottomButton:disabled {
  background-color: #dadada;
  color: white;
}

.selectWrap {
  /*select box 전체 틀*/
  text-align: center;
  margin-top: 8px;
}

.selectBox {
  font-size: 13px;

  text-align: center;

  height: 50px;
  width: 21%;

  border: 1px solid #f1af23;
  border-radius: 8px;

  background-color: white;
}

.selectWrap .selectBox option {
  /*select option design*/
  padding: 3px 0;

  height: 30px;

  font-size: 17px;
}

.profileImage {
  /*프로필 이미지(원형)*/
  position: absolute;

  width: 100px;
  height: 100px;

  top: 130px;
  left: 50%;

  transform: translate(-50%, -50%);

  border-radius: 50%;
}

.profileImageWrap input[type='file'] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.profileImageWrap label {
  color: #f1af23;
  cursor: pointer;

  position: absolute;
  width: 150px;
  /*height: 20px;*/
  top: 210px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  font-size: 13px;
}
