.profileImage {
  /*프로필 이미지(원형)*/
  border-radius: 50%;
}

.profileImageWrap input[type='file'] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.profileImageWrap label {
  position: relative;
  color: #f1af23;
  cursor: pointer;

  font-size: 13px;
  top: 15px;
}
